setuptools~=57.5.0
django==2.2.3
pylint
pylint-django
pyjwt
djangorestframework
django-extensions

polls
pillow

celery
numpy
bs4
pdfkit
pymysql
django-cors-headers
requests
torch
transformers
pymilvus==2.2.2
demjson
ltp
